:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0/0.5);
}
body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 2000px;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/hero-bg2.jpg);
  /* filter: grayscale(); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero {
  position: relative;
  min-height: 100vh;
}
.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}
.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
}
.hero h4 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.hero p {
  font-size: 1.6rem;
}
.hero a {
  padding: 0.5rem 1rem;
  color: var(--pink);
  background-color: #fff;
  box-shadow: var(--shadow);
}
.hero a:hover {
  background-color: var(--pink);
  color: #fff;
}
.info {
  min-height: 100vh;
}
/* Media Query */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 6px;
  }
}
/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 65%;
  }
  .hero a {
    padding: 0.8rem 1rem;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 16px 5px;
  }
}
